<section class="intro" id="intro">
	<div class="tagline">
		<p>Bringing together techies, enthusiasts </p>
		<p> and evryone between lorem ipsum </p>
		<div class="punchline">
			<p><strong>Create something awesome</strong></p>
		</div>
	</div>
</section>
<section class="events" id="events">
	<div class="medium-4 columns words">
		<div class="event-title">
			<i class="fi-calendar"></i> <span class="topic">Upcoming Events</span>
		</div>
		<div class="event-list">
			<div class="event">
				<p class="title">Making an Android app from scratch in android studio</p>
				<p class="scheduled-for">19th June 1200-1330hrs</p>
			</div>
			<div class="event">
				<p class="title">Yet another Android app from scratch in android studio</p>
				<p class="scheduled-for">19th June 1200-1330hrs</p>
			</div>
			<div class="event">
				<p class="title">Web4schools Jacaranda Launch</p>
				<p class="scheduled-for">19th June 1200-1330hrs</p>
			</div>
			<%= link_to "View Calendar", "#", class: "button small" %>
		</div>


	</div>
	<div class="medium-8 columns pic" >

		<div class="event-pic-words">
			<p>Learn@LakeHub</p>
			<p><%= link_to "Join us" , new_member_registration_path %> for events and workshops</p>
		</div>
	</div>
</section>
<section class="programs" id="programs">
	<div class="medium-8 columns pic" >
		<div class="contain">
			<p><small>Visit LakeHub</small></p>
			<p>lorem ipsum lorem ipsum lorem lorrem ipsum lorem lorem</p>
		</div>

	</div>
	<div class="medium-4 columns words">
		<div class="medium-12 columns video">
			<div class="video-words">
				<p class="video-title">Talks@LakeHub</p>
				<p class="video-content">Learn from the best in the industry</p>
			</div>

		</div>
		<div class="medium-12 columns description">

			<div class="program-title"><i class="fi-star"></i> <span class="topic">Featured Programs</span></div>
			<div class="program-list">
				<h4>Mentoring@LakeHub</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quise cillum dolore e </p>
				<h4>Yet Another One</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quise cillum dolore e </p>
			</div>
		</div>

	</div>

</section>
<section class="contact" id="contact">

	<div class="medium-3 columns contact-location">
		<%= image_tag('logo_with_name.png') %>
		<br />
		<div class="contact-details">
			<i class="fi-clock"></i> Open Monday - Saturday 0800-1900hrs <br />
			<i class="fi-arrows-in"></i>Suite b4,<br />
			<i class="fi-home"></i> Harleys Building <br />
			<i class="fi-marker"></i> Kisumu <br />
		</div>
	</div>
	<div class="medium-3 columns">
		<h4>Partners</h4>
	</div>


</section>
<footer>
	<div class="medium-3 columns collapse privacy">
		Privacy and Terms
	</div>
	<div class="right">
		<i class="fi-social-youtube"></i>
		<i class="fi-social-google-plus"></i>
		<i class="fi-social-twitter"></i>
		<i class="fi-social-facebook"></i>
	</div>
</footer>
