<section class="intro" id="intro">
	<div class="tagline">
		<p>Bringing together techies, enthusiasts </p>
		<p> and evryone between lorem ipsum </p>
		<div class="punchline">
			<p><strong>Create something awesome</strong></p>
		</div>
	</div>
</section>
<section class="events" id="events">
	<div class="medium-4 columns words">

	</div>
	<div class="medium-8 columns pic" >
		<%# =image_tag("events.jpg") %>
	</div>
</section>
<section class="programs" id="programs">
	<div class="medium-8 columns pic" >

	</div>
	<div class="medium-4 columns words">
		<div class="medium-12 columns video">

		</div>
		<div class="medium-12 columns description">

		</div>

	</div>

</section>
<section class="contact">

</section>
<footer>
	
</footer>
