<section class="intro" id="intro">
	<div class="tagline">
		<p>Bringing together techies, enthusiasts </p>
		<p> and evryone between lorem ipsum </p>
		<div class="punchline">
			<p><strong>Create something awesome</strong></p>
		</div>
	</div>
</section>
