// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin cover-image($image){
	background: url($image) no-repeat top center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
@mixin pad-words {
	padding: 0 10%;
}
#intro {
	@include cover-image('introbg.jpg');
	height: 600px;
	.tagline {
		text-transform: uppercase;
		color: white;
		position: absolute; top: 400px;
		padding-left: 100px;
		p {
			font-size: 26px;
			line-height: 0.6em;
		}
		.punchline p {
			padding-top: 30px;
			font-size: 36px;
		}
	}
}
#events {
	height: 600px;
	border: 5px white solid;
	color: white;
	.words {
		height: 600px !important;
		background-color: #1E59A9;
		border-right: 5px white solid;
		.event-title {
			margin-bottom: 10px;
			margin-top: 10px;
			text-align: center;
			.topic {
				font-size: 1.8em;
				padding-left: 5px;
			}
			.fi-calendar {
				font-size: 3em;
			}
		}
		.event-list {
			padding-left: 10%;
			padding-right: 10%;
			.title {
				font-size: 1.6em;
				line-height: 1.1;
			}
		}
	}
	.pic {
		height: 600px !important;
		@include cover-image('events.jpg');
		.event-pic-words {
			// top | horizontal | bottom
			padding: 45% 10% 0;
			p {
				line-height: 1.1;
				font-size: 2em;
			}
		}
	}
}
#programs {
	height: 600px;
	border: 10px;
	color: white;
	.pic {
		height: 600px !important;
		@include cover-image('programs.jpg');
		border: 5px solid white;
		.contain {
			padding: 45% 10% 0;
			p {
				font-size: 2em;
				line-height: 1.1;
			}
	}	}
	.words {
		padding: 0;
		border-top: 5px solid white;
		border-bottom: 5px solid white;
		border-right: 5px solid white;
		.video {
			height: 200px;
			@include cover-image('video.jpg');
			padding: 0;
			.video-words {
				@include pad-words;
				padding-top: 15%;
				.video-title {
					font-size: 1.6em;
					line-height: 1.1;
				}
				.video-content {
					font-size: 2em;
					line-height: 1.1;
				}
			}

			// border: 5px solid white;
		}
		.description {
			background-color: #3AB54A;
			height: 390px;
			.program-title {
				@include pad-words;
				text-align: center;
				.topic {
					font-size: 1.5em;
					padding-left: 20px;
				}
				.fi-star {
					font-size: 4em;
				}
			}
			.program-list {
				@include pad-words;
				p {
					line-height: 1.1;
					text-align: justify;
				}
				h4 {
					color: white;
					line-height: 1.1;
				}
		}		}
	}
}
.contact {
	height: 300px;
	background-color: #898989;
	color: white;
	font-size: 0.9em;
	line-height: 1.4;
	.contact-location {
		padding-top: 40px;
		padding-left: 30px;
		.contact-details {
			padding-top: 20px;
	} }
	[class*="fi-"]{
		font-size: 1.5em;
		padding-right: 10px;
	}
}
footer {
	height: 50px;
	background-color: #5D5D5D;
	font-size: 0.8em;
	[class*="fi-"]{
		font-size: 2.5em;
		padding-right: 1em;
	}
}
