// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#intro {
	background: url('introbg.jpg') no-repeat top center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 600px;
	.tagline {
		text-transform: uppercase;
		color: white;
		position: absolute; top: 400px;
		padding-left: 100px;
		p {
			font-size: 26px;
			line-height: 0.6em;
		}
		.punchline p{
			padding-top: 30px;
			font-size: 36px;
		
		}
	}
}
