<%# navigation styled for Zurb Foundation 5 %>
<div class="sticky">
	<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
		<ul class="title-area">
			<li class="name"><%= image_tag("logo_with_name.png") %></li>
			<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
		</ul>
		<div class="top-bar-section">
			<ul>
				<%= render 'layouts/navigation_links' %>
			</ul>
		</div>
	</nav>
</div>
